{% load staticfiles %}
<html>
  <head>
    <title>Red Team vs. Blue Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
